* {
    background-color: turquoise;
}
#p1 {
    text-align: left;
}
#p2 {
    text-align: center;
}
#p3 {
    text-align: right;
}
#p4 {
    text-align: justify;
}
#p5 {
    text-decoration: overline underline line-through;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
/* Behúzás */
#p6 {
    text-indent: 1%;
}
#p7 {
    /*             szín/fel/le/mosás;*/
    text-shadow: blue 4px 7px 8px;
}
#p8 {
    text-shadow: blue 0px 0px 2px;
}
#p9 {
    text-transform: uppercase;
}
#p10 {
    text-transform: lowercase;
}
#p11 {
    text-transform: capitalize;
}
#p12 {  
    text-align: justify;
    line-height: 3em;
}
#p13 {
    white-space: pre-line;
}
#p15 {
    background-color: rgba(196, 0, 0, 0.33)
}
#p16 {
    background-color: rgba(110, 13, 110, 0.445)
}
#p17 {
    background-color: rgba(150, 52, 126, 0.69);
}
#p18 {
    background-color: rgb(0, 128, 0);
}
#p19 {
    background-color: #91a;
}